.Mainheader {
  height: 5rem;
  background-color:rgb(36, 33, 33);;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5%;
}

.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5%;
}

.headerItems li:hover {
  background-color: rgb(132, 238, 103);
  cursor: pointer;
}

.headerItems li {
  font-weight: 700;
  list-style: none;
  margin-right: 10%;
  padding: 5px 5px;
  width: 8rem;
  border-radius: 10px;
  text-align: center;
}

.logout{
  background-color: red;
  border-radius: 12px;
}